<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Primerapellido:</strong>
    <%= usuario.primerapellido %>
  </p>

  <p>
    <strong>Segundoapellido:</strong>
    <%= usuario.segundoapellido %>
  </p>

  <p>
    <strong>Nacimiento:</strong>
    <%= usuario.nacimiento %>
  </p>

  <p>
    <strong>Habilitado:</strong>
    <%= usuario.habilitado %>
  </p>

</div>
